<div class="panel-body" style="z-index: 3;">
    <table class="table table-striped">
       
      <thead>
        <tr>
          <th>SNo</th>         
          <th>Company</th>                                       
          <th>Departure City</th>
          <th>Arrival City</th>
          <th>Cost per head</th>       
          <th>Is Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let booking of bookings;let i=index">
          <td>{{i+1}}</td>
          <td>{{booking.flightName}}</td>        
          <td>{{booking.fromPlace}}</td>
          <td>{{booking.toPlace}}</td>
          <td>{{booking.cost}}</td>
          <td> {{booking.isActive}}
          </td>         
          <td>
            <button (click)="deleteFlight(booking)" class="btn btn-info" style="margin-left: 10px">Delete Flight</button>
            <button (click)="editFlight(booking)" class="btn btn-info" style="margin-left: 10px">Edit Flight</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="goHome()" class="btn btn-info" style="margin-left: 10px">Home</button>
