
     <!-- Meta tags -->
    
     <!-- Bootstrap CSS -->
     <link rel = "stylesheet" 
        href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin = "anonymous"> 
     <div class = "container">
        <h2>Flight Booking System</h2>
        <nav class = "navbar navbar-expand-sm bg-secondary navbar-dark">
         
           <ul class = "navbar-nav">
            <li class = "nav-item active" *ngIf='!isLoggedIn'>
               <a class = "nav-link" routerLink = "/signin">SignIn 
                  <span class = "sr-only">(current)</span>
               </a>
            </li>
            <li class = "nav-item active" *ngIf='!isLoggedIn'>
               <a class = "nav-link" routerLink = "/signup">SignUp 
                  <span class = "sr-only">(current)</span>
               </a>
            </li>
              <li class = "nav-item active" *ngIf='isLoggedIn'>
                 <a class = "nav-link" routerLink = "/home">Home
                    <span class = "sr-only">(current)</span>
                 </a>
              </li>              
              <li class = "nav-item active"*ngIf='isLoggedIn && !isAdmin'>
                 <a class = "nav-link" routerLink = "/myBookings">MyBookings</a>
                 <span class = "sr-only">(current)</span>
              </li>
              <li>
               <a class = "nav-link active" routerLink = "/allBookings" *ngIf='isLoggedIn && isAdmin'>All Flights</a>
               <span class = "sr-only">(current)</span>
              </li>
              <li>
               <a class = "nav-link active" routerLink = "/newBooking" *ngIf='isLoggedIn && !isAdmin'>New Booking</a>
               <span class = "sr-only">(current)</span>
              </li>
              <li>
               <a class = "nav-link active" routerLink = "/addFlight" *ngIf='isLoggedIn && isAdmin'>Add Flights</a>
              </li>
              <li>
               <a class = "nav-link active"(click)="logout()" *ngIf='isLoggedIn'>Logout</a>
              </li>
           </ul>
        </nav>
        <br>
           
     </div>
     
     <!-- jQuery library -->
     <script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin = "anonymous">
     </script>
     
     <!-- Popper -->
     <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin = "anonymous">
     </script>
     
     <!-- Latest compiled and minified Bootstrap JavaScript -->
     <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin = "anonymous">
     </script>
     
  
<router-outlet></router-outlet>